@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* ------------------Main style------------------ */
/* ---------------------------------------------- */

main {
    height: 100%;
}